<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Test</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>First Form with GO</h1>

    <form action="/submit-form" method="post">
      <label for="name">Name :</label>
     <input type="text" id="name" name="name" /><br>

     <label for="number">Number : </label>
     <input type="tel" name="number" />

     <input type="submit" value="subtmit">

    </form>
  </body>
</html>
